<div class="info-container">

</div>

<div id="map-container">

</div>




<script>
  window.lat = 37.784517;
  window.lng = -122.397194;
  var map;
  var mark;
  var lineCoords = [];
  var initialize = function() {
    map  = new google.maps.Map(document.getElementById('map-container'), {center:{lat:lat,lng:lng},zoom:12});
    mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
    lineCoords.push(new google.maps.LatLng(window.lat, window.lng));
  };
  window.initialize = initialize;
  var redraw = function(payload) {
    lat = payload.message.lat;
    lng = payload.message.lng;
    map.setCenter({lat:lat, lng:lng, alt:0});
    mark.setPosition({lat:lat, lng:lng, alt:0});
    lineCoords.push(new google.maps.LatLng(lat, lng));
    var lineCoordinatesPath = new google.maps.Polyline({
      path: lineCoords,
      geodesic: true,
      strokeColor: '#2E10FF'
    });

    lineCoordinatesPath.setMap(map);
  };

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=ENV['GOOGLE_MAPS']&callback=initialize"></script>
