#map{
  position: fixed;
  top: 5vh;
  float: right;
  width: 48%;
  height: 90vh;
}

#mapContainer {
  position: fixed;
  right: 0;
  height: 100%;
  width: 50%
}

.adp-substep{
  font-size: 12px;
}
.adp-details{
  display: none;
}
.adp-warnbox{
  display: none;
}
.adp-placemark{
  display: none;
}
.adp-summary{
  display: none;
}
.adp-agencies{
  display: none;
}
.adp-legal{
  display: none;
}
.adp-substep div:last-child, .adp-substep div:nth-last-child(2) {
  display: none;
}
