// Place all the styles related to the shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tdAnimateGreen {
  animation: yellowtogreen 3s forwards linear;
}
.title{
  margin: 0px;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes yellowtogreen{
  0% {
    background: yellow;
  }
  100% {
    background: #62ef77;
  }
}

.tdAnimateRed {
  animation: yellowtored 3s forwards linear;
}

@keyframes yellowtored{
  0% {
    background: yellow;
  }
  100% {
    background: #f75d4c;
  }
}

.indexRow {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  border: 5px solid black;
  border-radius: 20px;
}

table {
  border-spacing: 0px 20px;
  tr td:first-child { border-top-left-radius: 20px; }
  tr td:first-child { border-bottom-left-radius: 20px; }
  tr td:last-child { border-top-right-radius: 20px; }
  tr td:last-child { border-bottom-right-radius: 20px; }

  td, th {
    text-align: left;
    font-size: 18px;
  }

  input {
    font-size: 16px;
    width: 100%;
  }

  .center {
    text-align: center;
  }
}

.kitchenrow{
  background: skyBlue;
}
.info{
  position: absolute;
  left: 1%;
  float: left;
  width: 48%;
  height: 90vh;
  overflow: auto;
}

.logo{
  position: absolute;
  top: 10%;
  left: 30%;
  height: 800px;
  width: 40%;
}

.jankybacks{
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  // margin: -5px;
  // padding: -5px;
}
body{
  margin: 0;
  padding: 0;
}

