// Place all the styles related to the sheltr_test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#kitchen-container {
  // display: none;
}

#shelter-container {

}
