// Place all the styles related to the shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tdAnimateClass {
  animation: redtowhite 3s forwards linear
}

@keyframes redtowhite{
  0% {
    background: red
  }
  100% {
    background: white
  }
}
